@model IEnumerable<Customer_Service_Admin_Panel.Model.Product>

@{
    ViewBag.Title = "Index";
}
<style>
    .products-title{
        text-align:center;
    }
</style>

<h2 class="products-title">Product List</h2>
<br />
<br />
<p>
    <input class="btn btn-warning" type="button" value=" Back To Dash Board" onclick="@("window.location.href='" + @Url.Action("Index", "Admin") + "'");" />

    <input class="btn btn-success" type="button" value=" Add Product" onclick="@("window.location.href='" + @Url.Action("AddProduct", "Product") + "'");" />

</p>
<br />
<table class="table table-striped table-bordered">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>                   
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ProductId },new {@class = "btn btn-danger"})
                </td>
            </tr>
        }

</table>
