@model IEnumerable<Customer_Service_Admin_Panel.Model.Customer>

@{
    ViewBag.Title = "Customer";
}
<style>
    .btn-option {
        height: 50px;
        width: 140px;
        background-color: #F8C340;
        font-size: 18px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }

        .btn-option:hover {
            background-color: #DFB44A;
            color: #FBF7EC;
        }

    .btn-customer {
        height: 40px;
        width: 150px;
        background-color: #F8C340;
        font-size: 18px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }

        .btn-customer:hover {
            background-color: #DFB44A;
            color: #FBF7EC;
        }

    h2 {
        text-align: center;
    }
</style>

<h2>Customer List</h2>



<br />
<div class="container">
    <div class="group-option">
        <div class="col">

            <input class="btn-customer" type="button" value=" Add Customer" onclick="@("window.location.href='" + @Url.Action("CreateCustomer", "Customer") + "'");" />

        </div>
    </div>
    <br />

    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrganizationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrganizationName)
                </th>
                <th></th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationName)
                    </td>
                    <td>

                        @Html.ActionLink("Details", "DetailsCustomer", new { id = item.CustomerId }, new { @class = "btn btn-success" })

                    </td>
                </tr>
            }

       
    </table>
